@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.bg-d{

  background: #15202B ;
}

.gra{
  background: linear-gradient(90deg, #B25AFF 0%, #7A27CA 100%);
}
.b{
  border: 2px solid  #7A27CA ;
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
}


